<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="fill-remaining-space"></span>
      <span class="">Login </span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-grid-list cols="2" rowHeight="350px">
          <mat-grid-tile>
            <div class="controls-container">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" name="email">
                <mat-error>Please enter valid email.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error>Please enter password.</mat-error>
              </mat-form-field>
              <div class="add-bottom-padding">
                  <a routerLink="." color="accent" class="anchor_css" routerLink="/forgot-password">Forgot Password</a>                                    
              </div>
              <div class="button-row">
                  <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>                    
                  <button mat-raised-button color="accent" routerLink="/home">Cancel</button>
                </div>              
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
  </form>
</div>
