/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
div.container{
    margin: 0px 40px;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.controls-container{
    width: 100%;
    padding: 5px;
}
.controls-container > *{
    width: 100%;

}
.add-bottom-padding{
    padding-bottom: 10px;
}
.example-radio-group .example-radio-button{
    margin-left: 5px;
} 
.button-row button{
    margin: 5px;
}
.error-class{
    color:#f44336;
    font-size: 12px;
}
.anchor_css{
    margin-top:20px; 
}